/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #143231;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    position: relative;
    width: 320px;
    height: 480px;
    background-color: #A8925d;
    border: 2px solid #fff;
    overflow: hidden;
}

.player {
    position: absolute;
    bottom: 20px;
    left: 150px;
    width: 40px;
    height: 40px;
    background-color: #143231;
    border-radius: 5px;
}

.obstacle {
    position: absolute;
    top: -40px;
    left: 150px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
